<div class="menu-items grid items-center justify-center mt-2">
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/home">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.HomeTooltip">
            <AiocSvg Size="20">
                <HomeIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/tenants">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.TenantTooltip">
            <AiocSvg Size="20">
                <TenantIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/entities">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.EntityTooltip">
            <AiocSvg Size="20">
                <EntityIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/forms">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.FormTooltip">
            <AiocSvg Size="20">
                <FormIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/views">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.ViewTooltip">
            <AiocSvg Size="20">
                <ViewIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/filters">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.FilterTooltip">
            <AiocSvg Size="20">
                <FilterIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/reports">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.ReportTooltip">
            <AiocSvg Size="20">
                <ReportIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/layouts">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.LayoutTooltip">
            <AiocSvg Size="20">
                <LayoutIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
    <NavLink class="menu-item relative flex h-11 items-center justify-center w-full" ActiveClass="@_activeClass" Match="NavLinkMatch.All" href="/s/features">
        <Tooltip Placement="@PlacementType.Right" Title="TooltipConstants.FeatureTooltip">
            <AiocSvg Size="20">
                <FeatureIcon/>
            </AiocSvg>
        </Tooltip>
    </NavLink>
</div>

@code
{
    private string _activeClass = "active";
}
